@charset "UTF-8";

#submain{
	height: 600px;
	background-color: pink;
	border: 1px solid black;
	width: 80%;
	margin-left: 10px;
	
}

#paybt{
	margin:auto;
	height: 35%;
}

#total{
	margin:auto;
	height: 100px;
}